
<div id="progress-bar" class="w-full h-1.5 fixed" style="display: none;">
    <div id="progress" class="h-full bg-purple-600"></div>
</div>

<style>
	#progress-bar {
		background-color: #eaf9b1;
	}
</style>


<script src="/src/js/progressbar.js"></script>

  