<div id="showcase">
    <div id="layout">
        <div id="apec">
            <h1 class=" reveal font-Comic font-bold text-3xl mb-3">Apec</h1>
            <div class=" reveal gallery">
                <img src="/images/G1 (1).jpg" alt="">
                <img src="/images/G1 (2).jpg" alt="">
                <img src="/images/G1 (3).jpg" alt="">
                <img src="/images/G1 (4).jpg" alt="">
                <img src="/images/G1 (5).jpg" alt="">
                <img src="/images/G1 (6).jpg" alt="">
            </div>
        </div>
        <div id="stora">
            <h1 class=" reveal revealscroll font-Comic font-bold text-3xl mt-20 mb-3">Stora</h1>
            <div class=" reveal revealscroll gallery">
                <img src="/images/G2 (1).jpg" alt="">
                <img src="/images/G2 (2).jpg" alt="">
                <img src="/images/G2 (3).jpg" alt="">
            </div>
        </div>
        <div id="zomba">
            <h1 class=" reveal revealscroll font-Comic font-bold text-3xl mt-20 mb-3">Zomba</h1>
            <div class=" reveal revealscroll gallery">
                <img src="/images/G4 (1).jpg" alt="">
                <img src="/images/G4 (2).jpg" alt="">
                <img src="/images/G4 (3).jpg" alt="">
                <img src="/images/G4 (4).jpg" alt="">
                <img src="/images/G4 (5).jpg" alt="">
                <img src="/images/G4 (6).jpg" alt="">
                <img src="/images/G4 (7).jpg" alt="">
                <img src="/images/G4 (8).jpg" alt="">
                <img src="/images/G4 (9).jpg" alt="">
                <img src="/images/G4 (10).jpg" alt="">
                <img src="/images/G4 (11).jpg" alt="">
                <img src="/images/G4 (12).jpg" alt="">
                <img src="/images/G4 (13).jpg" alt="">
            </div>
        </div>
        <div id="monza">
            <h1 class=" reveal revealscroll font-Comic font-bold text-3xl mt-20 mb-3">Monza</h1>
            <div class=" reveal revealscroll gallery">
                <img src="/images/G5 (1).jpg" alt="">
                <img src="/images/G5 (2).jpg" alt="">
                <img src="/images/G5 (3).jpg" alt="">
                <img src="/images/G5 (4).jpg" alt="">
                <img src="/images/G5 (5).jpg" alt="">
                <img src="/images/G5 (6).jpg" alt="">
                <img src="/images/G5 (7).jpg" alt="">
                <img src="/images/G5 (8).jpg" alt="">
            </div>
        </div>
        <div id="weldok">
            <h1 class=" reveal revealscroll font-Comic font-bold text-3xl mt-20">Weldok</h1>
            <div class=" reveal revealscroll gallery">
                <img src="/images/G6 (1).jpg" alt="">
                <img src="/images/G6 (2).jpg" alt="">
                <img src="/images/G6 (3).jpg" alt="">
                <img src="/images/G6 (4).jpg" alt="">
                <img src="/images/G6 (5).jpg" alt="">
                <img src="/images/G6 (6).jpg" alt="">
            </div>
        </div>      
    </div>
</div>



<style>
    #showcase {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        margin: 0 auto;
        padding: 0%;
        overflow: hidden;
        gap: 10px;
        margin-top: 100px;
        scroll-behavior: smooth;
        scroll-snap-type: proximity;
    }
    #layout {
        grid-column: 3/8;
        margin: 0% auto;
        padding: 0%;
        margin-top: 10px;
        margin-bottom: 20px; 
    }
    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
        gap: 10px;
    }

    .gallery img {
        width: 100%;
        height: auto;
    }
    @media (max-width: 768px){
        #showcase {
            display: block;
            margin-left: 1.5%;
            margin-right: 1.5%;
        }
    }
</style>
